[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.26"
optimizer = true
optimizer_runs = 200

remappings = [
  "@uniswap/v4-core/=lib/v4-core/",
  "@uniswap/v4-periphery/=lib/v4-periphery/",
  "forge-std/=lib/v4-core/lib/forge-std/src/",
  "openzeppelin-contracts/=lib/v4-core/lib/openzeppelin-contracts/contracts/",
  "permit2/=lib/v4-periphery/lib/permit2/",
  "solmate/=lib/v4-core/lib/solmate/"
]
